
button {
  padding: var(--paddings);
  border: 1px solid green;
  border-radius: var(--radius);
  background: none;

  color: green;
  white-space: nowrap;

  &.selected, &.correct {
    background: green;
    color: white;
  }

  &.incorrect {
    background: red;
    border-color: red;
    color: white;
  }

  &.selectable {
    cursor: pointer;

    &:hover {
      background: rgba($color: green, $alpha: .6);
      color: white;
    }
  }
}
