
form {
  display: flex;

  select, button {
    padding: var(--paddings);
    border-radius: 0;
    border: 1px solid #BBBBBB;
  }

  select {
    border-right: none;
    flex-basis: 40%;
    max-width: 40%;
    flex-grow: 1;

    &:first-of-type {
      border-top-left-radius: var(--radius);
      border-bottom-left-radius: var(--radius);
    }
  }

  button {
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    cursor: pointer;
    flex-basis: 20%;
    max-width: 20%;
    flex-grow: 1;

    &:not([disabled]):hover {
      background-color: #BBBBBB;
      color: white;
    }

    &[disabled] {
      cursor: not-allowed;
    }
  }
}
