
<form [formGroup]="quizSelectionForm"
  (ngSubmit)="onSubmit()"
>

  <select formControlName="triviaCategory"
    id="categorySelect"
  >
    <option value="">Select a category</option>
    <option *ngFor="let option of triviaCategoryOptions$ | async"
      [value]="option.id"
    >{{ option.name }}</option>
  </select>

  <select formControlName="difficultyLevel"
    id="difficultySelect"
  >
    <option value="">Select difficulty</option>
    <option *ngFor="let option of difficultyOptions"
      [value]="option.value"
    >{{ option.label }}</option>
  </select>

  <button type="submit"
    [disabled]="!quizSelectionForm.valid"
    id="createBtn"
  >Create</button>

</form>
